# Backend Server Configuration
# The base URL of your backend server
NEXT_PUBLIC_BASE_URL=http://localhost:8080

# Frontend Client URL (for redirects, etc.)
NEXT_PUBLIC_CLIENT_URL=http://localhost:3000

# Tenor API (for GIFs)
NEXT_PUBLIC_TENOR_API_KEY=your_tenor_api_key
